footer.footer
  .footer-bottom
    .container
      .pull-left  Copyright © Skytalks 2017
      .pull-right
        ul
          li
            a(href='/') Home
          li
            a(href='register') Register
          //- li
          //-   a(href='about') About
          //- li
          //-   a(href='contact') Contact

