* {
    font-family: 'Raleway', sans-serif;
}


.body {
    padding-top: 80px;
    margin-bottom: 80px;
    margin: 0 auto;
}

.mybutton {
    background-color: #0C677F;
    color: white;
}

.container {
    padding-right: 0px;
    padding-left: 0px;
}

.newtalk {
    margin-bottom: 80px;
}

.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group {
    z-index: 0;
}

.waiting {
    text-align: center;
}

/*---------------- HEADER ----------------*/

.navbar {
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 0;
    background-color: #12A5CC;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #1abc9c !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #64DFFF;
}

.navbar-brand-left {
    width: 160px;
    text-align: center;
    background-color: transparent;
    margin-left: 1%;
}
.navbar>.container .navbar-brand-centered, 
.navbar>.container-fluid .navbar-brand-centered {
    margin-left: -80px;
}

.caret-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-bottom: 4px solid;
    
    display: inline-block;
    margin-left: 2px;
    vertical-align: middle;
}

.dropdown-menu {
    background-color: #12A5CC;
}



/*---------------- FOOTER ----------------*/

.footer {
    position:fixed;
    left:0px;
    right: 0px;
    bottom:0px;
    z-index: 1;
}

.footer .footer-bottom {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #24292E;
    padding: 15px 0;
    color: #DDD;
    font-size: 15px;
    padding-left:1%;

}

.footer .footer-bottom ul li {
    display: inline-block;
    padding-right: 20px;

}

.footer .footer-bottom ul {
    padding-left: 0px;

}
    


.footer .footer-bottom ul li a {
    color: white;
    display: block;
    padding-left: 8px;
}


@media (max-width: 550px) {
    .footer .footer-bottom .pull-left,
    .footer .footer-bottom .pull-right {
        float: none !important;
        width: 100%;
        padding: 10px;
        text-align: center;
    }
}
@media (max-width: 767px) {
    .footer .footer {
        text-align: center;
    }
}
@media (max-width: 991px) {
    .footer .footer ul {
        margin-bottom: 30px;
    }
}


/*---------------- HOME ----------------*/

.search-language {
    text-align: center;
    padding-top: 50px;
}

.thumbnails li {
    list-style: none;
}

.thumbnail {
    text-align: center;
}

.img-thumbnail {
    margin-top: 5px;
    border: 0;
}

.thumbnails img {
    
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
    background-color: white; 
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
    color: #0C677F;
}


/*---------------- RESULTS ----------------*/

.list-results {
    padding-left: 20px;
}

#custom-search-input {
    margin-left: 2%;
    margin-right: 2%;
}

.results {
    margin-bottom: 100px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;

}

.thumbnails {
    padding-left: 0px;
}

/*---------------- DETAILS ----------------*/

.form-horizontal .control-label {
    padding-top:0;
}

.details {
    margin-bottom: 200px;
}

.details img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

.details h3 {
    position: absolute;
    margin-left: 20%;
}

.join {
    position: absolute;
    margin-left: 20%;
}

.form-horizontal {
    margin-left: 20px;
    margin-right: 20px;
}


/*---------------- PROFILE ----------------*/

.savechanges {
    float: right;
}

.containbutton {
    padding: 0px;
}

.profile {
    margin-bottom: 200px;
}

.profile img {
    width: 150px;
    height: 150px;
    border-radius: 75%
}

.languages-li li {
    list-style-type: circle;
}

.new-lang{
    display: inline-flex;
}

.nlanguage{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.level {
    border-radius: 0;
}

#new-language {
    width: 46%;
}

.remove-lang {
    background-color: white;
    color: #24292E;
    padding: 0;
    position: absolute;
    left: 60%;
}

/*---------------- LOGIN ----------------*/

.login form {
    width: 320px;
    margin: 0 auto;
    text-align: center;
}

.wrapper {    
    margin-top: 80px;
    margin-bottom: 20px;
}

.register {
    margin:0 auto;
    float: center;
    width: 320px;
}

.input-pass {
    display: inline-flex;
}

.reveal {
    display: inline-block;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.password {
    display: inline-block;
    width: 92%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.showpass {
    width: 8%;

}

/*---------------- MY TALKS ----------------*/

.show-joiner {
    text-align: center;
}

.newtalk {
    margin-right: 2%;
    margin-left: 2%;
}

.list-group {
    border-radius: 0;
}
.list-group .list-group-item {
    background-color: transparent;
    overflow: hidden;
    border: 0;
    border-radius: 5px;
    padding: 0 16px;
}
.list-group .list-group-item .row-picture,
.list-group .list-group-item .row-action-primary {
    float: left;
    display: inline-block;
    padding-right: 16px;
    padding-top: 8px;
}

.list-group .list-group-item .row-picture img {
    display: block;
    height: 56px;
    width: 56px;
    background: rgba(0, 0, 0, 0.1);
    padding: 1px;
    background-size: cover;
}

.list-group .list-group-item .row-picture img.circle {
    border-radius: 100%
}


.list-group .list-group-item .row-content {
    display: inline-block;
    /*width: 80%;*/
    min-height: 66px;
}

.list-group .list-group-item .list-group-item-heading {
    color: rgba(0, 0, 0, 0.77);
    font-size: 20px;
    line-height: 29px;
}


div.bhoechie-tab-menu{
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}
div.bhoechie-tab-menu div.list-group{
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a{
  margin-bottom: 0;
  padding-top:15px;
  padding-bottom:15px;
  min-height: 50px;
}

div.bhoechie-tab-menu div.list-group>a.active{
  background-color: #0C677F;
  background-color: #0C677F;
  color: white;
}

div.bhoechie-tab-content{
  background-color: #ffffff;
  /* border: 1px solid #eeeeee; */
  padding-left: 20px;
  padding-top: 10px;
}

div.bhoechie-tab div.bhoechie-tab-content:not(.active){
  display: none;
}

img.circle {
    padding: 0;
    width:70px;
    height: 70px;
    border-radius: 35px;
    cursor:pointer;
}

img.circle:hover {
    filter: contrast(10%);
}

.row-picture.img {
    float: right;
}

.showtalks.list-group {
    display: inline-block;
}


.date-body{
  background-color: white;
}

.date-body .date-title{
  color: black;
}

.date-body .date-content{
  background-color: white;
}
.date-body .date-content p.dia{
  margin: 0; font-size: 45px; font-weight: bold;
}
.nomargin{
  margin: 0;
}

.show-events {
    display: inline-flex;

}



