doctype html
html(lang='en' ng-app='skytalksApp')
  head
    meta(charset='UTF-8')
    title SKYTALKS
    include includes/styles
  body
    include includes/header
    .container
      block content
    include includes/footer
    include includes/scripts