doctype html
html(lang='en' ng-app='skytalksApp')
  head
    meta(charset='UTF-8' name="viewport" content="width=device-width, initial-scale=1")
    title SKYTALKS
    include includes/styles
  body
    include includes/header
    .container
      block content
    include includes/footer
    include includes/scripts