nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand.navbar-brand-left(href='/') SKYTALKS
    #myNavbar.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right(ng-controller='navController')
        if user
          li 
            a Logged as #{user.username}
          li
            a(href='#' ng-click="logout()") LOGOUT
          li
            a(href='/user#!') MY TALKS
          li
            a(href='/user#!/talk') NEW TALK
          li
            a(href='/user#!/profile') PROFILE
        else
          li
            a(href='/login') SIGN IN
          li
            a(href='register') REGISTER
        
        
