nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand.navbar-brand-left(href='/') SKYTALKS
    #myNavbar.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right(ng-controller='navController')
        li(ng-repeat='navoption in navoptions')
          a(href='{{ navoption.route }}') {{ navoption.title }}
        li(ng-hide='{{ isLoggedIn }}')
          a(href='login') SIGN IN
        li(ng-hide='{{ isLoggedIn }}')
          a(href='register') REGISTER

        
        