nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand.navbar-brand-left(href='/') SKYTALKS
    #myNavbar.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right(ng-controller='navController')
        if user
          li
            a(href='/user#!/my-talks') MY TALKS
          li
            a(href='/user#!/new-talk') NEW TALK
          li.dropdown
            a.dropdown-toggle(data-toggle='dropdown')
              | #{user.username}
              b.caret
            ul.dropdown-menu
              li
                a(href='/user#!/profile') PROFILE
              li
                a(href='#', ng-click='logout()') LOGOUT
        else
          li
            a(href='/login') LOGIN
          li
            a(href='register') REGISTER

script.
  (function(){
    $(".dropdown").hover(
    function() {
    $('.dropdown-menu', this).stop( true, true ).fadeIn("fast");
    $(this).toggleClass('open')
    $('b', this).toggleClass("caret caret-up")
    },
    function() {
    $('.dropdown-menu', this).stop( true, true ).fadeOut("fast")
    $(this).toggleClass('open')
    $('b', this).toggleClass("caret caret-up")
    })
  })

        
        
