script(src="https://code.jquery.com/jquery-2.1.1.min.js")
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")
script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js")
script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.min.js")
script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-cookies.min.js")
script(src="js/jwt-decode.min.js")
// MAIN MODULE
script(src='/js/main.js')
script(src='/js/app.js')
// @begin ROUTES
// MYTALKS
script(src='/js/routes/mytalks/controller.js')
script(src='/js/routes/mytalks/config.js')
// NEWTALK
script(src='/js/routes/newtalk/controller.js')
script(src='/js/routes/newtalk/config.js')
// PROFILE
script(src='/js/routes/profile/config.js')
script(src='/js/routes/profile/controller.js')
// NAVBAR
script(src='/js/commonControllers/controller.js')
// @end ROUTES
// SERVICES
script(src='/js/service/TalksService.js')
script(src='/js/service/UsersService.js')
script(src='/js/service/AuthService.js')
script(src='/js/service/StorageService.js')
