script(src="https://code.jquery.com/jquery-2.1.1.min.js")
script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBXx_1Rs5_kzeWzyPCIKNIkE-buRM9hDMA&libraries=places&language=en')
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")
script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js")
script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.min.js")
script(src="https://cdn.rawgit.com/auth0/angular-jwt/master/dist/angular-jwt.js")
script(src="bower_components/ng-file-upload/ng-file-upload-shim.min.js")
script(src="bower_components/ng-file-upload/ng-file-upload.min.js")

// MAIN MODULE
script(src='/js/main.js')
script(src='/js/app.js')
// @begin ROUTES
// LOGIN
//script(src='/js/routes/login/controller.js')
//script(src='/js/routes/login/config.js')
// MYTALKS
script(src='/js/routes/mytalks/controller.js')
script(src='/js/routes/mytalks/config.js')
// NEWTALK
script(src='/js/routes/newtalk/controller.js')
script(src='/js/routes/newtalk/config.js')
// PROFILE
script(src='/js/routes/profile/config.js')
script(src='/js/routes/profile/controller.js')
// NAVBAR
script(src='/js/commonControllers/controller.js')
// @end ROUTES
// SERVICES
script(src='/js/service/TalksService.js')
script(src='/js/service/UsersService.js')
script(src='/js/service/AuthInterceptor.js')
