<div class="body">
    <div class="newtalk">
        <form class="form-horizontal">
            <fieldset>
                <legend>New talk meeting</legend>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="OC">Language: </label>
                    <div class="col-md-4">
                        <select id="OC" name="OC" class="form-control" ng-model="newlanguage">
                            <option value="" disabled selected>Select language</option>
                            <option ng-repeat="language in languages">{{language.language}}</option>
                        </select>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-md-4 control-label" for="textinput">Place: </label>  
                    <div class="col-md-4">
                        <input id="textinput" name="textinput" type="text" placeholder="Enter a place..." ng-model="newplace" class="form-control input-md">
                    </div>
                </div>

                <div class="form-group"> <!-- Date input -->
                    <label class="col-md-4 control-label" for="date">Date and time: </label>
                    <div class="col-md-4">
                        <input id="textinput" name="textinput" type="datetime-local" placeholder="" ng-model="newdate" class="form-control input-md">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="button1id"></label>
                    <div class="col-md-8">
                        <button id="button1id" name="button1id" ng-click="createNewTalk(newlanguage, newplace, newdate)" class="btn mybutton">Create talk meeting</button>
                    </div>
                </div>

            </fieldset>
        </form>
    </div>
</div>

