extends ../layout

block content
  .body
    .container
      .search-language
        .row
          .col-md-3
          .col-md-6
            h2 Find a talk meeting
            br
            #custom-search-input
              form.input-group.col-md-12
                input.form-control.input-lg(type='text', placeholder='Enter a language...')
                span.input-group-btn
                  button.btn.btn-info.btn-lg(type='button' onclick="window.location.href='/results'")
                    i.glyphicon.glyphicon-search
    br
    br
    br
    .container
      .row
        ul.thumbnails
          li.span4.col-xs-12.col-md-4
            .thumbnail
              .img-thumbnail
                img(src='img/default-user-image.png')
              .caption
                h3 Maria 
                p wants to talk in Russian
                p on September 20
                button.btn.mybutton(onclick="window.location.href='/details'") Show details
          li.span4.col-xs-12.col-md-4
            .thumbnail
              .img-thumbnail
                img(src='img/default-user-image.png')
              .caption
                h3 John
                p wants to talk in French
                p on September 20
                button.btn.mybutton(onclick="window.location.href='/details'") Show details
          li.span4.col-xs-12.col-md-4
            .thumbnail
              .img-thumbnail
                img(src='img/default-user-image.png')
              .caption
                h3 Javier
                p wants to talk in English
                p on September 20
                button.btn.mybutton(onclick="window.location.href='/details'") Show details

