extends ../layout

block content
  .body
    .container
      .search-language
        .row
          .col-md-3
          .col-md-6
            h2 Find a talk meeting
            br
            #custom-search-input
              form.input-group.col-md-12
                input.form-control.input-lg(type='text', placeholder='Enter a language...')
                span.input-group-btn
                  button.btn.btn-info.btn-lg(type='button' onclick="window.location.href='/results'")
                    i.glyphicon.glyphicon-search
    br
    br
    br
    .container
      .row
        h3.waiting These users are waiting for a partner:
        ul.thumbnails
          each talk in talks
            li.span4.col-xs-12.col-md-4
              .thumbnail
                .img-thumbnail
                  img(src='img/default-user-image.png')
                .caption
                  h3= talk.creator.firstname
                  p wants to talk in #{talk.language}
                  p on #{talk.date.toDateString()}
                  button.btn.mybutton.showdetails(data-id=talk._id) Show details
          
