extends ../layout

block content
  ng-view

  script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js")
  script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.min.js")
  // MAIN MODULE
  script(src='js/app.js')
  // @begin ROUTES
  // MYTALKS
  script(src='js/routes/mytalks/controller.js')
  script(src='js/routes/mytalks/config.js')
  // NEWTALK
  script(src='js/routes/newtalk/controller.js')
  script(src='js/routes/newtalk/config.js')
  // PROFILE
  script(src='js/routes/profile/config.js')
  script(src='js/routes/profile/controller.js')
  // @end ROUTES
  // SERVICES
  script(src='js/service/service.js')
  