<div class="body">
    <div class="profile">
        <div class="row">
            <!-- left column-->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="input-group image-preview">
                  <div class="text-center"><img ng-src="{{ user.image }}" alt="avatar" class="avatar img-circle img-thumbnail"/>
                    <h6>Upload a different photo...</h6>
                    <input ngf-select="fileSelected($files)" type="file" accept="'image/*'" name="file" />
                  </div>
                <br>
                <button type="submit" ng-click="uploadFile()" img-upload class="btn mybutton btn-md">Upload image</button>
                </div>
            </div>
            <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
                <div ng-show='show' class="alert alert-success alert-dismissable"><a data-dismiss="alert" class="panel-close close">×</a><i class="fa fa-coffee"></i>        Changes saved <strong>successfully</strong></div>
                <div ng-show='showLanguage' class="alert alert-success alert-dismissable"><a data-dismiss="alert" class="panel-close close">×</a><i class="fa fa-coffee"></i>        Language saved <strong>successfully</strong></div>
                <div ng-show='removedLanguage' class="alert alert-success alert-dismissable"><a data-dismiss="alert" class="panel-close close">×</a><i class="fa fa-coffee"></i>        Language removed <strong>successfully</strong></div>
                <form role="form" class="form-horizontal" action="/api/user/update" method="POST">
                    <input value="{{ user._id }}" name="_id" type="text" class="form-control hidden"/>
                    <legend>Personal info</legend>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">First name:</label>
                        <div class="col-lg-8">
                            <input required value="{{ user.firstname }}" name="firstname" type="text" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Last name:</label>
                        <div class="col-lg-8">
                            <input value="{{ user.lastname }}" name="lastname" type="text" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Country:</label>
                        <div class="col-lg-8">
                            <input value="{{ user.country }}" name="country" type="text" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Age:</label>
                        <div class="col-lg-8">
                            <input value="{{ user.age }}" name="age" type="text" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">About me:</label>
                        <div class="col-lg-8">
                            <textarea class="form-control" name="about" >{{ user.about }}</textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Email:</label>
                        <div class="col-lg-8">
                            <input value="{{ user.username }}" name="email" type="email" class="form-control"/>
                        </div>
                    </div>
                    <div class="col-lg-8 col-lg-offset-3 containbutton">
                        <button type="submit" ng-click="showAlert()" class="btn mybutton btn-md savechanges">Save changes</button>
                    </div>
                <br>
                <br>
                <div class="form-group">
                        <label class="col-lg-3 control-label">Languages:</label>
                        <div class="col-lg-8">
                            <ul class="languages-li">
                                <li ng-repeat="language in languages"><label class="control-label" ng-model="lang">{{language.language}}:</label> {{language.level}} <button type="button" ng-click="removeLanguage(language.language)" class="remove-lang btn mybutton btn-md"><i class="glyphicon glyphicon-remove"></i></button></li>
                            </ul>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-3 control-label">Add new language:</label>
                        <div class="new-lang col-lg-8">
                            <input type="text" id="new-language" list="languages" ng-model="newlanguage" placeholder="Enter a language..." class="form-control nlanguage"/>
                            <datalist id="languages">
                              <option value="Arabic"></option>
                              <option value="Albanian"></option>
                              <option value="Basque"></option>
                              <option value="Belarusian"></option>
                              <option value="Bosnian"></option>
                              <option value="Breton"></option>
                              <option value="Bulgarian"></option>
                              <option value="Catalan"></option>
                              <option value="Chechen"></option>
                              <option value="Croatian"></option>
                              <option value="Danish"></option>
                              <option value="Dutch"></option>
                              <option value="English"></option>
                              <option value="Estonian"></option>
                              <option value="Finish"></option>
                              <option value="French"></option>
                              <option value="Galician"></option>
                              <option value="German"></option>
                              <option value="Hungarian"></option>
                              <option value="Icelandic"></option>
                              <option value="Irish"></option>
                              <option value="Italian"></option>
                              <option value="Kazakh"></option>
                              <option value="Latin"></option>
                              <option value="Latvian"></option>
                              <option value="Lithuanian"></option>
                              <option value="Luxembourgish"></option>
                              <option value="Macedonian"></option>
                              <option value="Maltese"></option>
                              <option value="Norwegian"></option>
                              <option value="Occitan"></option>
                              <option value="Polish"></option>
                              <option value="Portuguese"></option>
                              <option value="Romanian"></option>
                              <option value="Russian"></option>
                              <option value="Serbian"></option>
                              <option value="Slovene"></option>
                              <option value="Spanish"></option>
                              <option value="Swedish"></option>
                              <option value="Turkish"></option>
                            </datalist>
                            <select id="new-language" ng-model="newlevel" name="OC" class="form-control level" placeholder="Select level">
                                <option value="" disabled selected>Select level</option>
                                <option>Begginer</option>
                                <option>Intermediate</option>
                                <option>Advanced</option>
                                <option>Proficient</option>
                                <option>Native</option>
                            </select>
                            <span class="input-group-btn">
                                <button type="button" ng-click="addLanguage(newlanguage, newlevel)" class="check btn mybutton btn-md"><i class="glyphicon glyphicon-ok"></i></button>
                            </span>
                        </div>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</div>
