extends ../layout

block content
  .body
    .login
      .container
        .wrapper
          form.form-signin(action='api/register', method='POST', name='Login_Form')
            h3.form-signin-heading Register
            hr.colorgraph
            br
            input.form-control(type='text', name='firstname', placeholder='Name', required='', autofocus='')
            br
            input.form-control(type='email', name='email', placeholder='Email', required='', autofocus='')
            br
            .input-group
              input.form-control.password(type='password', name='password', value='iamapassword')
              span.input-group-btn.showpass
                button.btn.btn-default.reveal(type='button')
                  i.glyphicon.glyphicon-eye-open
            br
            button.btn.btn-lg.mybutton.btn-block(name='Submit', value='Login', type='Submit') Register



